---
permalink: /
language: fr
---
<!DOCTYPE html>
<html lang="fr" style="font-size: 20px;">
  <head>
	  
  {% include meta.html %}
  {% include libraries.html %}
  {% include script.html %}

  <noscript><meta http-equiv="refresh" content="0; url=/en/"></noscript>
	  
  </head>
  <body>

  <script>
    function setLanguage(l) { 
      setCookie("language", l, 30);
      window.location.replace("/"+l+"/");
    }
	
    var language = getCookie("language");
    if (language == "en") { window.location.replace("/en/"); }
    else if (language == "fr") { window.location.replace("/fr/"); }
    else if (navigator && navigator.language && navigator.language.match(/^fr/i)) {
	setLanguage("fr");
    } else {
	setLanguage("en");
    }
  </script>
	
  <div style="padding: 1rem;">
    Redirection :
    <a href="{{ page.page | prepend: '/fr/' }}" onclick="setCookie('language','fr',30);"><img class="flag" src="/lib/flags/4x3/fr.svg" alt="FR" style="height:1.2rem; width: 1.6rem; margin: .2em;"></a>
    <a href="{{ page.page | prepend: '/en/' }}" onclick="setCookie('language','en',30);"><img class="flag" src="/lib/flags/4x3/gb.svg" alt="EN" style="height:1.2rem; width: 1.6rem; margin: .2em;"></a>
  </div>
	
  </body>
</html>
