<div class="footer">
<div class="content container">
  <div class="row">
    <div class="col-3">
		<a href="{{ page.page | prepend: '/fr' }}" onclick="setCookie('language','fr',30);"><img class="flag" src="/lib/flag-icon-css/flags/4x3/fr.svg" alt="FR"></a>
		<a href="{{ page.page | prepend: '/en' }}" onclick="setCookie('language','en',30);"><img class="flag" src="/lib/flag-icon-css/flags/4x3/gb.svg" alt="EN"><span class="sr-only">EN</span></a>
	</div>
    <div class="col-9"><span class="pull-right"><i class="fa fa-envelope" aria-hidden="true"></i>
		{% if page.language == "en" %}first.last@univ-amu.fr
		{% else %}prénom.nom@univ-amu.fr
		{% endif %}</span></div>
  </div>
</div>
</div>
