<header> <!-- Background image by Caroline and Louis VOLANT - CC BY-NC-SA 2.0 -->
  <div class="top-banner" >

  <nav class="navbar navbar-light navbar-expand-sm justify-content-end">
    <a class="navbar-brand" href="/{{ page.language }}/"><img src="/images/favicon-grey.png">Guillaume Geoffroy</a> 
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0 ml-auto" id="navbarSupportedContent">
      <div class="navbar-nav text-right">
        <a class="nav-item" href="/{{ page.language }}/research">{% if page.language == "en" %}Research{% else %}Recherche{% endif %}</a>
        <a class="nav-item" href="/docs/cv-guillaume-geoffroy-{{ page.language }}.pdf">CV</a>
      </div>
    </div>
  </nav>

  </div>
</header>
